body {
    /*margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;*/
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-family: "TT Interphases", sans-serif;*/
    /*background-color: black;*/
}
  
canvas {
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    max-width: 65ch;
}

#project-description {
}

@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) {
    body {
        flex-direction: row;
    }
}